img {
    border-style: solid;
    border-color: black;
}


img.hovering {
    border-color: blue;
    cursor: pointer;
}

img.selected {
    border-color: red;
}


div {
    border-color: grey;
}

div.movableHighlight {
    border-color: purple;
    border-width: 3px !important;
}

div.movableHighlight:hover {
    background:rgba(255, 0, 255, 0.35) !important;
}
