img {
    border-style: solid;
    border-color: black;
}


img.hovering {
    border-color: blue;
    cursor: pointer;
}

img.selected {
    border-color: red;
}


div {
    border-color: grey;
}

div.movableHighlight {
    border-color: red;
}
